BasedOnStyle: LLVM
IndentWidth: 8
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: true
IndentCaseLabels: false
UseTab: AlignWithSpaces
ColumnLimit: 80
SortIncludes: false
AllowShortFunctionsOnASingleLine: Empty
